<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="fmt" value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=StackTrace}${newline}"/>
	<!-- the targets to write -->
	<targets>
		<!-- write to file -->
		<target name="consoleTarget" 
				xsi:type="ColoredConsole" 
				useDefaultRowHighlightingRules="false"
				layout="${fmt}">			
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />			
		</target>		
		<target name="fileLogTarget"
				xsi:type="File"
				fileName="${basedir}/logs/${appdomain}.${shortdate}.log"
				archiveNumbering="Rolling"
				archiveAboveSize="32000000"
				archiveFileName="${basedir}/logs/archives/${appdomain}.${shortdate}.log.{#}.zip"
				enableArchiveFileCompression="true"				
				layout="${fmt}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>		
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" />
		<logger name="*" minlevel="Debug" writeTo="fileLogTarget" />
	</rules>
</nlog>